.auth {
  background-color: var(--secondary);
}











/* .register{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #88d3ce 0%, #6e45e2 100%);
} */

